@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');
@import "flowbite/src/themes/default.css";
@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";
@source "../../node_modules/flowbite-datepicker";
@source not "../../public";

body {
    background-color: lightblue;
    margin-left: 10%;
    margin-right: 10%;
}

.selected {
    background: #00a0e5;
    color: white;
}

.default-button {
    background-color: #00a0e5;
}

.center-button {
    display:flex;
    justify-content:center;
    align-items:flex-end;
}

.checkbox {
    color: #00a0e5;
}

h1 {
    text-align: center;
    margin-bottom: 1em;
    color: #1f5587;
    font-weight: bold;
}

#formContainer {
    margin-top: 2em;
    margin-bottom: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 5px;
}

#petDatePicker {
    margin-top: 1em;
}
