{% extends 'base.html.twig' %}

{% block body %}

    <div id="dangerousAnimalForm">
        <form>
            {# PET TYPE SELECTOR #}
            <span class="text-sm font-medium text-gray-700"> What type of pet do you have? </span><br>
            <div class="inline-flex rounded-base shadow-xs -space-x-px" role="group">
                <button
                    id="petTypeDog"
                    type="button"
                    class="text-body bg-neutral-primary-soft border border-default hover:bg-neutral-secondary-medium hover:text-heading focus:ring-3 focus:ring-neutral-tertiary-soft font-medium leading-5 rounded-s-base text-sm px-3 py-2 focus:outline-none">
                    Dog
                </button>
                <button
                    id="petTypeCat"
                    type="button"
                    class="text-body bg-neutral-primary-soft border border-default hover:bg-neutral-secondary-medium hover:text-heading focus:ring-3 focus:ring-neutral-tertiary-soft font-medium leading-5 rounded-e-base text-sm px-3 py-2 focus:outline-none">
                    Cat
                </button>
            </div>

            {# PET NAME FIELD #}
            <label for="petName">
                <span class="block mb-2.5 text-sm font-medium text-heading"> Pet Name: </span>
                <input type="text" id="petName" name="petName"
                       class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs placeholder:text-body">
            </label>

            {# PET BREED FIELD #}
            <label for="petBreed" class="block mb-2.5 text-sm font-medium text-heading">What breed are they?</label>
            <select id="petBreed"
                    class="block w-full px-3 py-2.5 bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-brand focus:border-brand shadow-xs placeholder:text-body">
                <option selected>Choose a breed</option>
                <option value="Doberman">Doberman</option>
                <option value="St. Bernard">St. Bernard</option>
                <option value="Poodl">Poodle</option>
                <option value="Mastiff">Mastiff</option>
            </select>
            <fieldset>
                <legend class="sr-only">Breed</legend>
                <div class="flex items-center mb-4">
                    <input id="breed-option-1" type="radio" name="petBreeds" value="Unknown"
                           class="w-4 h-4 text-neutral-primary border-default-medium bg-neutral-secondary-medium rounded-full checked:border-brand focus:ring-2 focus:outline-none focus:ring-brand-subtle border border-default appearance-none">
                    <label for="breed-option-1" class="select-none ms-2 text-sm font-medium text-heading">
                        I don't know
                    </label>
                </div>

                <div class="flex items-center mb-4">
                    <input id="breed-option-2" type="radio" name="petBreeds" value="Mix"
                           class="w-4 h-4 text-neutral-primary border-default-medium bg-neutral-secondary-medium rounded-full checked:border-brand focus:ring-2 focus:outline-none focus:ring-brand-subtle border border-default appearance-none">
                    <label for="breed-option-2" class="select-none ms-2 text-sm font-medium text-heading">
                        It's a mix
                    </label>
                </div>
            </fieldset>

            {# PET GENDER FIELD #}
            <span class="text-sm font-medium text-gray-700"> What gender are they? </span><br>
            <div class="inline-flex rounded-base shadow-xs -space-x-px" role="group">
                <button
                        id="petSexMale"
                        type="button"
                        class="text-body bg-neutral-primary-soft border border-default hover:bg-neutral-secondary-medium hover:text-heading focus:ring-3 focus:ring-neutral-tertiary-soft font-medium leading-5 rounded-s-base text-sm px-3 py-2 focus:outline-none">
                    Male
                </button>
                <button
                        id="petSexFemale"
                        type="button"
                        class="text-body bg-neutral-primary-soft border border-default hover:bg-neutral-secondary-medium hover:text-heading focus:ring-3 focus:ring-neutral-tertiary-soft font-medium leading-5 rounded-e-base text-sm px-3 py-2 focus:outline-none">
                    Female
                </button>
            </div>
            <input hidden type="radio" id="male" name="petSex">
            <input hidden type="radio" id="female" name="petSex">
            <br>

            <label for="petAge">
                <span class="text-sm font-medium text-gray-700"> Do you know their date of birth?</span>
                <input type="text" id="petAge" name="petAge"
                       class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm">
            </label>

        </form>
        <br>
        <button id="submit" type="button"
                class="text-white bg-success box-border border border-transparent hover:bg-success-strong focus:ring-4 focus:ring-success-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">
            Success
        </button>


    </div>

    <div id="results" hidden>
        <div class="flow-root">
            <dl class="-my-3 divide-y divide-gray-200 text-sm">
                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900">Name</dt>
                    <dd id="petNameResult" class="text-gray-700 sm:col-span-2"></dd>
                </div>

                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900">Type</dt>
                    <dd id="petTypeResult" class="text-gray-700 sm:col-span-2"></dd>
                </div>

                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900">Breed</dt>
                    <dd id="petBreedResult" class="text-gray-700 sm:col-span-2"></dd>
                </div>

                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900">Date of Birth</dt>
                    <dd id="petDateOfBirthResult" class="text-gray-700 sm:col-span-2"></dd>
                </div>

                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900">Age</dt>
                    <dd id="petDateOfBirthResult" class="text-gray-700 sm:col-span-2"></dd>
                </div>

                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900">Sex</dt>
                    <dd id="petSexResult" class="text-gray-700 sm:col-span-2"></dd>
                </div>

                <div class="grid grid-cols-1 gap-1 py-3 sm:grid-cols-3 sm:gap-4">
                    <dt class="font-medium text-gray-900">Dangerous</dt>
                    <dd id="isDangerousAnimal" class="text-gray-700 sm:col-span-2">

                    </dd>
                </div>
            </dl>
        </div>
    </div>
{% endblock %}
