{% extends 'base.html.twig' %}

{% block body %}

    <div class="dangerous-animal-form">
        <form>
            <span class="text-sm font-medium text-gray-700"> What type of pet do you have? </span><br>
            <div class="inline-flex">
                <button
                    class="rounded-l-sm border border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-white focus:outline-none disabled:pointer-events-auto disabled:opacity-50">
                    Dog
                </button>
                <button
                    class="-ml-px border border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-white focus:outline-none disabled:pointer-events-auto disabled:opacity-50">
                    Cat
                </button>
            </div>
            <br>

            <label for="petName">
                <span class="text-sm font-medium text-gray-700"> Pet Name: </span>
                <input type="text" id="petName" name="petName"
                       class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm">
            </label>

            <label for="petBreed">
                <span class="text-sm font-medium text-gray-700"> What breed are they? </span>
                <input type="text" id="petBreed" name="petBreed"
                       class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm">
                <label for="unknownBreed">I Don't Know</label><br>
                <input type="radio" id="unknownBreed" name="petBreed"><br>
                <label for="mixBreed">It's A Mix</label><br>
                <input type="radio" id="mixBreed" name="petBreed"><br>
            </label>

            <span class="text-sm font-medium text-gray-700"> What gender are they? </span><br>
            <div class="inline-flex">
                <button
                    class="rounded-l-sm border border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-white focus:outline-none disabled:pointer-events-auto disabled:opacity-50">
                    Male
                </button>
                <button
                    class="-ml-px border border-gray-200 px-3 py-2 font-medium text-gray-700 transition-colors hover:bg-gray-50 hover:text-gray-900 focus:z-10 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-white focus:outline-none disabled:pointer-events-auto disabled:opacity-50">
                    Female
                </button>
            </div>
            <br>

            <label for="petAge">
                <span class="text-sm font-medium text-gray-700"> Do you know their date of birth?</span>
                <input type="text" id="petAge" name="petAge"
                       class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm">
            </label>

            <input type="submit" value="Continue">
        </form>
    </div>
{% endblock %}
